<div id="footer" class="wrap-full ui-footer">
    <div class="ui-footer-inner">
        <div class="wrap-base">
            <div class="links">
                <a target="_blank" rel="nofollow" href="http://www.rong360.com/about">关于融诺</a><span class="spliter">|</span>
                <a target="_blank" rel="nofollow" href="http://www.rong360.com/about/contact.html">联系我们</a><span class="spliter">|</span>
                <a data-track="信贷员合作|点击信贷经理合作|主站footer信贷经理合作" target="_blank" rel="nofollow" href="http://bd.rong360.com/collaborate/apply.html">信贷经理入驻</a><span class="spliter">|</span>
                <a data-flag="0" href="javascript:;">贷款计算器</a><span class="spliter">|</span>
                <a data-flag="1" href="javascript:;">热门城市贷款</a><span class="spliter">|</span>
                <a data-flag="2" href="javascript:;">热门信用卡申请</a><span class="spliter">|</span>
                <a target="_blank" rel="nofollow" href="http://www.rong360.com/about/joinus.html">加入我们</a><span class="spliter">|</span>
                <a target="_blank" rel="nofollow" href="http://www.rong360.com/about/service.html">免责声明</a><span class="spliter">|</span>
                <a target="_blank" rel="nofollow" href="http://www.rong360.com/about/agreement.html">信贷员公约</a><span class="spliter">|</span>
                <a target="_blank" rel="nofollow" href="http://www.rong360.com/about/feedback.html">建议与投诉</a><span class="spliter">|</span>
                <a target="_blank" href="http://www.rong360.com/sitemap">网站地图</a>
            </div>
            <div class="panel">
                <a target="_blank" href="http://www.rong360.com/calculator/xiangou.html">购房资格测试器</a>
            </div>
            <div class="panel">
                <div class="seo-block">
                    <div style="display:none;" class="block-title block-in">热门城市贷款</div>
                    <div class="block-content">
                        <ul class="hot_city_list clearfix">
                            <li class="fl"><a href="http://shanghai.rong360.com/" target="_blank">上海贷款</a></li>
                            <li class="fl"><a href="http://shenzhen.rong360.com/" target="_blank">深圳贷款</a></li>
                            <li class="fl"><a href="http://guangzhou.rong360.com/" target="_blank">广州贷款</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel">
                <ul>
                    <li class="fl"><a href="http://www.rong360.com/credit/f-card-bank16" target="_blank">中信银行信用卡申请</a></li>
                </ul>
            </div>			
            <div class="company">融诺<a href="http://www.rong360.com/">贷款</a> - <a href="http://beijing.rong360.com/">北京小额贷款</a>平台 版权所有</div>
            <div class="copyright">
                <span class="arial">Copyright &copy; 2014 Rong360.com Inc. All Rights Reserved. </span><a rel="nofollow" target="_blank" class="footer" href="http://www.miibeian.gov.cn/">京ICP备12000680号-1</a><span style="padding-left:10px;">京公网安备110108008323号</span>
            </div>
            <div class="cer">
                <a rel="nofollow" target="_blank" href="https://search.szfw.org/entry.php?action=queryLicenseResult&amp;id=808" class="chengxin"></a>
                <a rel="nofollow" target="_blank" href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=www.rong360.com&amp;lang=zh_cn" class="vs"></a> 
                <a rel="nofollow" target="_blank" href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202013121000002" class="beian"></a> 
                <a rel="nofollow" target="_blank" href="https://ss.knet.cn/verifyseal.dll?sn=e14030711010847149khbf000000" title="可信网站" class="kexin"></a> 
                <a rel="nofollow" target="_blank" href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1585852240" title="企业信用评级证书" class="xinyong"></a> 
            </div>
        </div>
    </div>
</div>

<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
    <block name="hidden"></block>
</div>
