<div style="position:relative;z-index:99;" class="wrap-base">
    <div class="ui-nav-new">
        <!-- logo -->
        <div class="wrap-logo">
            <a title="北京贷款" href="http://beijing.rongnuo.net/" class="logox ui-face-logo"></a>
        </div>
        <!-- 选择城市 -->
        <div class="change-city">
            <p class="name">北京</p>
            <p><a rel="nofollow" href="http://www.rongnuo.net/cityNavi.html" class="doc-color-link">[切换城市]</a></p>
        </div>
        <!-- 右上角次级导航 -->
        <ul class="nav-tail">
            <li style="display:inline-block;*float:left;*margin-top:10px;" class="doc-color-tail">客服电话：10100360或4008-905-360</li>
            <li class="item">
                <a rel="nofollow" href="http://www.rongnuo.net/static/html/app/list/index.html" class="item"><i class="ui-icon">机</i>手机应用</a>
            </li>
            <i class="ui-spliter"></i>
            <li data-css-hover="menu-hover" class="item menu">
                <a rel="nofollow" href="javascript:;">信贷经理<i class="ui-icon">菜</i></a>
                <div class="menu-list">
                    <a rel="nofollow" href="http://bd.rongnuo.net/" class="menu-item">信贷经理登录</a>
                    <a rel="nofollow" href="http://bd.rongnuo.net/collaborate/apply.html" class="menu-item">信贷经理入驻</a>
                </div>
            </li>
            <i style="right:5px;" class="ui-spliter"></i>
            <li style="padding-left:0" class="item">
                <a rel="nofollow" href="http://www.rongnuo.net/usercenter/login.html" style="padding-left:0;" class="item">我的贷款订单</a>
            </li>
        </ul>
        <!-- 主导航 -->
        <div class="nav-main">
            <div class="inner">
                <think:nav name="nav">
                    <eq name="nav.pid" value="0">
                        <a class="item" href="{$nav.url|get_nav_url}" target="<eq name='nav.target' value='1'>_blank<else/>_self</eq>">{$nav.title}</a>
                    </eq>
                </think:nav>
            </div>
        </div>
        <!-- 次导航 -->
    </div>
</div>
