/*
www.rongnuo.net 融诺网
Copyright(C)2015 http://www.rongnuo.net All Rights reserved
Author: 宋登峰 <sky_php@qq.com> <http://www.tipask.com>
*/
/* 
    Created on : 2014-11-23, 0:45:22
    Author     : sdf_sky
*/

html{background:#fff;color:#000;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:auto;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{width:100%;border-collapse:collapse;font:100%;font-size:inherit;border-spacing:0;}
caption,th{text-align:left;}
img{border:0;vertical-align:middle;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%;}
address,caption,cite,code,dfn,em,strong,th,var,b{font-weight:400;font-style:normal;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
abbr,acronym{border:0;font-variant:normal;}
pre,code,kbd,samp{font-size:100%;font-family:monospace,serif;line-height:100%;_font-family:'courier new',monospace;}
small{font-size:75%;}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}
em{font-style:italic;}
strong{font-weight:700;}
sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0;}
sup{top:-.5em;}
sub{bottom:-.25em;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
legend{border:0;color:#000;white-space:normal;}
button,input,select,textarea{vertical-align:middle;font-weight:inherit;font-size:inherit;font-family:inherit;*vertical-align:middle;}
button,input{line-height:normal;}
textarea{overflow:auto;vertical-align:top;resize:none;}
label,button{cursor:pointer;_cursor:hand;}
button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
input[type=hidden]{display:none!important;}
body{color:#222;font-size:12px;font-family:"Microsoft Yahei","寰蒋闆呴粦",Tahoma,Arial,Helvetica,STHeiti;}
a{color:#222;text-decoration:none;}
a:hover{color:#49acf8;text-decoration:underline;}
a.doc-text-link,.doc-text-link a{color:#05c;}
a.doc-text-link:hover,.doc-text-link a:hover{color:#49acf8;}
.doc-color-main{color:#222;}
.doc-color-desc{color:#555;}
.doc-color-tail{color:#888;}
.doc-color-light{color:#a6a6a6;}
.doc-color-micro{color:#bbb;}
.doc-color-vmicro{color:#ddd;}
.doc-color-link{color:#05b;}
.doc-color-red{color:red;}
.doc-color-dark-red{color:#d70000;}
.doc-color-green{color:green;}
.doc-color-yellow{color:#f63;}
.doc-color-warn-yellow{color:#fff600;}
.doc-size-main{font-size:12px;}
.doc-size-big{font-size:14px;}
.doc-size-large{font-size:16px;}
.doc-text-b,strong{font-weight:700;}
.doc-text-i,i,em{font-style:italic;}
.doc-text-u{text-decoration:underline;}
.doc-text-orange{color:#f63;}
.doc-text-left{text-align:left;}
.doc-text-center{text-align:center;}
.doc-text-right{text-align:right;}
.doc-space-2{text-indent:2em;*text-indent:0;*padding-left:2em;}
.doc-space-1{text-indent:1em;*text-indent:0;*padding-left:1em;}
span.doc-space-1{margin-left:1em;}
h1,.doc-h1{font-size:24px;}
h2,.doc-h2{font-size:20px;}
h3,.doc-h3{font-size:16px;}
h4,.doc-h4{font-size:14px;}
.wrap-full{width:100%;}
.wrap-base{margin:auto;width:990px;}
.wrap-base-inner{margin-bottom:20px;border:1px solid #d5d5d5;background-repeat:repeat-y;}
.wrap-main{float:left;width:740px;}
.wrap-sider{float:right;width:250px;}
.wrap-base-inner .wrap-sider{float:right;width:248px;}
.wrap-line{display:inline-block;vertical-align:top;-float:left;}
.wrap-clear{*zoom:1;}
.wrap-clear:after{clear:both;display:block;overflow:hidden;height:0;content:'\\20';}
.wrap-left{float:left;}
.wrap-right{float:right;}
.wrap-mtop-10{margin-top:10px;}
.wrap-mtop-20{margin-top:20px;}
.wrap-mright-10{margin-right:10px;}
.wrap-mbottom-10{margin-bottom:10px;}
.wrap-mbottom-20{margin-bottom:20px;}
.wrap-mbottom-30{margin-bottom:30px;}
.wrap-mbottom-40{margin-bottom:40px;}
.wrap-mleft-10{margin-left:10px;}
.wrap-ptop-10{padding-top:10px;}
.wrap-right-10{padding-right:10px;}
.wrap-pbottom-10{padding-bottom:10px;}
.wrap-pleft-10{padding-left:10px;}
.ui-btn,a.ui-btn{display:inline-block;outline:0;border:1px solid #d3d3d3;background-color:none;background-repeat:no-repeat;color:#222;vertical-align:middle;text-align:center;text-decoration:none;font-size:12px;cursor:pointer;*display:inline;*zoom:1;}
.ui-btn-default{width:85px;height:28px;border:1px solid #d3d3d3;border-radius:0;background:#e2e2e2;background:-webkit-gradient(linear,0 0,0 100%,from(#f3f3f3),to(#e2e2e2));text-align:center;text-decoration:none;line-height:26px;}
.ui-btn-default:hover{background:#dee0e2;background:gradient(linear,0 0,0 100%,from(#f6f8fa),to(#dee0e2));background:-webkit-gradient(linear,0 0,0 100%,from(#f6f8fa),to(#dee0e2));}
.ui-btn-default:active{background:-webkit-gradient(linear,0 0,0 100%,from(#dbdddf),to(#dbdddf));*background:#dbdddf;}
.ui-btn-default-disabled,.ui-btn-default-disabled:hover,.ui-btn-default-disabled:active{background-color:#f2f2f2;color:#ccc;cursor:default;}
.ui-btn-white{padding:0 20px;height:26px;border:1px solid #cbcbcb;background-color:#fff;background-position:100px -100px;line-height:26px;}
.ui-btn-yellow{width:102px;height:28px;background-repeat:no-repeat;}
.ui-btnGroup .ui-btn{margin-left:-1px;border-radius:0;}
.ui-btnGroup .ui-btn:first-child{border-radius:3px 0 0 3px;}
.ui-btnGroup .ui-btn:last-child{border-radius:0 3px 3px 0;}
@font-face{font-weight:400;font-style:normal;font-family:rong-icon;src:url(/static/rongui/fonts/rong-icon.eot?t=4);src:url(/static/rongui/fonts/rong-icon.eot?t=4#iefix) format('embedded-opentype'),url(/static/rongui/fonts/rong-icon.woff?t=4) format('woff'),url(/static/rongui/fonts/rong-icon.ttf?t=4) format('truetype'),url(/static/rongui/fonts/rong-icon.svg?t=4#rong-icon) format('svg');}
.ui-icon{position:relative;z-index:0;display:inline-block;overflow:hidden;margin-right:2px;vertical-align:middle;text-transform:none;font-weight:400;font-style:normal;font-variant:normal;font-size:14px;font-family:rong-icon;cursor:default;*display:inline;*zoom:1;speak:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.ui-icon-phone{width:11px;height:18px;background-repeat:no-repeat;}
.ui-icon-more-down{width:10px;height:5px;background-repeat:no-repeat;}
.ui-icon-spliter{margin-right:0;width:7px;height:7px;background-repeat:no-repeat;}
.ui-icon-maptip{width:10px;height:16px;background-repeat:no-repeat;}
.ui-icon-sign{width:20px;height:18px;background-repeat:no-repeat;}
.ui-icon-warning{width:20px;height:20px;background-repeat:no-repeat;}
.ui-icon-ok{width:20px;height:20px;background-repeat:no-repeat;}
.ui-icon-close{width:12px;height:12px;background-repeat:no-repeat;}
.ui-icon-close-orange{width:10px;height:10px;background-position:-20px -20px;}
.ui-icon-house{width:15px;height:15px;background-repeat:no-repeat;}
.ui-icon-house-x{width:15px;height:15px;background-repeat:no-repeat;}
.ui-icon-diya{width:15px;height:13px;background-repeat:no-repeat;}
.ui-icon-danbao{width:15px;height:12px;background-repeat:no-repeat;}
.ui-icon-chujie{width:15px;height:14px;background-repeat:no-repeat;}
.ui-icon-zhongjie{width:15px;height:13px;background-repeat:no-repeat;}
.ui-icon-danbao2{width:15px;height:14px;background-repeat:no-repeat;}
.ui-icon-car{width:15px;height:13px;background-repeat:no-repeat;}
.ui-icon-person{width:15px;height:14px;background-repeat:no-repeat;}
.ui-icon-watch{width:15px;height:14px;background-repeat:no-repeat;}
.ui-icon-credit{width:15px;height:14px;background-repeat:no-repeat;}
.ui-icon-up{width:15px;height:10px;background-repeat:no-repeat;}
.ui-icon-left{width:6px;height:15px;background-repeat:no-repeat;}
.ui-icon-star{width:18px;height:18px;background-repeat:no-repeat;}
.ui-icon-star-off{width:18px;height:18px;background-repeat:no-repeat;}
.ui-icon-cer-todo{width:23px;height:23px;background-repeat:no-repeat;}
.ui-icon-comcer-todo{width:23px;height:23px;background-repeat:no-repeat;}
.ui-icon-cer-done{width:23px;height:23px;background-repeat:no-repeat;}
.ui-icon-comcer-done{width:23px;height:23px;background-repeat:no-repeat;}
.ui-icon-new{width:35px;height:20px;background-repeat:no-repeat;}
.ui-icon-dot{width:2px;height:2px;background-repeat:no-repeat;}
.ui-spliter{display:inline-block;overflow:hidden;height:12px;border-left:1px solid #747474;vertical-align:middle;font-style:normal;font-family:"瀹嬩綋";*margin-right:-3px;}
.ui-app-daikuan-32{width:32px;height:32px;background-repeat:no-repeat;}
.ui-app-fangdai-32{width:32px;height:32px;background-repeat:no-repeat;}
.ui-icon-viewmore{width:11px;height:11px;background-repeat:no-repeat;}
.ui-icon-viewmore-up{width:11px;height:11px;background-repeat:no-repeat;}
.ui-icon-download{width:12px;height:12px;background-repeat:no-repeat;}
.ui-icon-qrcode{width:12px;height:12px;background-repeat:no-repeat;}
.ui-icon-apple{width:13px;height:16px;background-repeat:no-repeat;}
.ui-icon-android{width:13px;height:16px;background-repeat:no-repeat;}
.ui-face-logo{display:inline-block;overflow:hidden;width:200px;height:74px;background:url(../images/logo.png) no-repeat scroll 0 0 #fff;line-height:10em;*position:relative;*top:-10px;}
.ui-face-logo-x{display:inline-block;overflow:hidden;width:137px;height:31px;background-repeat:no-repeat;line-height:999em;*float:left;}
.ui-face-icon{display:inline-block;width:42px;height:42px;background-repeat:no-repeat;}
.ui-face-round{display:inline-block;width:52px;height:52px;background-repeat:no-repeat;}
.ui-face-zj{display:inline-block;width:52px;height:52px;background-repeat:no-repeat;}
.ui-face-zj-hover{display:inline-block;width:52px;height:52px;background-repeat:no-repeat;}
.ui-face-person{display:inline-block;width:52px;height:52px;background-repeat:no-repeat;}
.ui-list .item{overflow:hidden;padding:2px 0 5px;text-overflow:ellipsis;}
.ui-list item a:link{color:#555;}
.ui-list .ui-icon-dot{position:relative;top:-2px;margin-right:5px;}
.ui-pager{text-align:center;}
.ui-pager .pagers{margin-right:20px;}
.ui-pager .pages .page-item{display:inline-block;margin-right:5px;padding:0 8px;height:24px;border:1px solid #ebebeb;background-color:#fff;line-height:24px;}
.ui-pager .pages .page-item:hover,.ui-pager .pages .page-current{margin-right:5px;padding:0 8px;height:24px;border:1px solid #0a51c0;background-color:#2069e3;color:#fff;text-decoration:none;}
.ui-tag{display:inline-block;margin-right:8px;height:22px;border:1px solid;*display:inline;*zoom:1;}
.ui-tag:hover{color:#000;}
.ui-tag-inner{display:inline-block;padding:0 .5em;height:20px;border:1px solid;text-align:center;line-height:18px;}
.ui-tag-purple{border-color:#dad7e9;}
.ui-tag-purple:hover{border-color:#c0bdd3;}
.ui-tag-purple .ui-tag-inner{border-color:#efecfd;background-color:#eae7fc;}
.ui-tag-red-light{border-color:#efd5c6;}
.ui-tag-red-light:hover{border-color:#e0c4b5;}
.ui-tag-red-light .ui-tag-inner{border-color:#ffebe1;background-color:#ffe6d8;}
.ui-tag-green{border-color:#c7dfc4;}
.ui-tag-green:hover{border-color:#b5d1b2;}
.ui-tag-green .ui-tag-inner{border-color:#e0f6dd;background-color:#d7f3d4;}
.ui-tag-red-sun{border-color:#e4c3c3;}
.ui-tag-red-sun:hover{border-color:#d6b2b2;}
.ui-tag-red-sun .ui-tag-inner{border-color:#f9dede;background-color:#f7d5d5;}
.ui-tag-purple-sun{border-color:#e4ceea;}
.ui-tag-purple-sun:hover{border-color:#d7bdde;}
.ui-tag-purple-sun .ui-tag-inner{border-color:#f6e5fb;background-color:#f4defa;}
.ui-tag-yellow-light{border-color:#e7e1c6;}
.ui-tag-yellow-light:hover{border-color:#d8d1b4;}
.ui-tag-yellow-light .ui-tag-inner{border-color:#fffae1;background-color:#fff8d8;}
.ui-tag-current{border:1px solid #000;}
.ui-tab .ui-tab-nav{position:relative;}
.ui-tab .ui-tab-nav .ui-tab-nav-inner{position:relative;width:auto;}
.ui-tab .ui-tab-nav-item{float:left;cursor:pointer;}
.ui-tab .ui-tab-nav-item a{display:inline-block;text-decoration:none;}
.ui-tab .ui-tab-nav-item .inner{position:relative;display:inline-block;}
.ui-tab .ui-tab-content .ui-tab-content-item{display:none;}
.ui-tab .ui-tab-content .current{display:block;}
.ui-tab-primary .ui-tab-nav{overflow:hidden;height:41px;border-right:1px solid #e6e8eb;background-color:#f7f7f8;-height:40px;}
.ui-tab-primary .ui-tab-nav-inner{top:0;height:38px;border-top:1px solid #e6e8eb;border-bottom:2px solid #4072d7;-height:36px;}
.ui-tab-primary .ui-tab-nav-item{top:-1px;padding:0 1px;width:145px;height:39px;border:solid #e6e8eb;border-width:0 1px;background-repeat:repeat-x;text-align:center;-height:38px;}
.ui-tab-primary .ui-tab-nav-item .inner{position:relative;top:0;display:block;overflow:hidden;padding-top:8px;height:26px;color:#888;text-decoration:none;font-size:16px;cursor:pointer;-height:25px;}
.ui-tab-primary .ui-tab-nav .current{padding:0;border:2px solid #294697;border-bottom:0;background-color:#fff;background-repeat:repeat-x;-position:relative;-top:1px;}
.ui-tab-primary .ui-tab-nav .current .inner{top:0;padding-top:7px;border-bottom:2px solid #fff;color:#05b;-top:4px;-padding:3px 0 6px;}
.ui-tab-primary .ui-tab-content{padding:20px 30px;}
.ui-tab-primary .ui-tab-content .ui-tab-content-item{display:none;}
.ui-tab-primary .ui-tab-content .current{display:block;}
.ui-tab-cms .ui-tab-nav{height:32px;}
.ui-tab-cms .ui-tab-nav-inner{top:0;width:auto;height:30px;border:1px solid #a3a7b0;border-left:0;background-color:#e6e8ee;*display:inline;}
.ui-tab-cms .ui-tab-nav-item{display:inline-block;height:30px;border-left:1px solid #a3a7b0;line-height:28px;}
.ui-tab-cms .ui-tab-nav-item .inner{padding:0 10px;height:30px;}
.ui-tab-cms .ui-tab-nav .current .inner{position:relative;top:1px;background-color:#fff;}
.ui-tab-cms .ui-tab-content{padding-top:12px;}
.ui-alert{overflow:hidden;padding:8px 18px;height:20px;border:1px solid;font-size:14px;}
.ui-alert-default{border-color:#f0e8c5;background-color:#fff6cc;color:#222;}
.ui-alert-error{border-color:#eed3d7;background-color:#f2dede;color:#b94a48;}
.ui-alert-success{border-color:#d6e9c6;background-color:#dff0d8;color:#468847;}
.ui-alert-info{border-color:#bce8f1;background-color:#d9edf7;color:#3a87ad;}
.ui-form label{font-size:14px;*float:left;*position:relative;*top:3px;}
.ui-form-text{display:inline-block;*float:left;}
.ui-form-text .text{display:inline-block;overflow:hidden;width:120px;height:24px;border:1px solid #d6d6d6;border-radius:3px;vertical-align:middle;*float:left;}
.ui-form-text input{overflow:hidden;padding-left:5px;width:75px;height:24px;border:0;line-height:24px;*float:left;}
.ui-form-text .tail{display:inline-block;width:34px;height:24px;border-left:1px solid #d6d6d6;background:-webkit-gradient(linear,0 0,0 100%,from(#f3f3f3),to(#e2e2e2));text-align:center;font-size:12px;line-height:22px;*float:left;}
.form-wrap .field-wrap{overflow:visible;min-height:80px;*height:80px;*zoom:1;}
.form-wrap .field-wrap:after{clear:both;display:block;overflow:hidden;height:0;content:'\\20';}
.form-wrap .title{margin-bottom:10px;padding:10px 0;border-bottom:1px dotted #d1d1d1;font-size:22px;}
.form-wrap .field-wrap label{position:relative;top:3px;float:left;display:inline-block;padding-right:10px;width:115px;height:32px;color:#555;vertical-align:top;text-align:right;font-size:16px;*display:inline;*zoom:1;}
.form-wrap .field-wrap label.full{float:none;clear:both;display:block;width:100%;text-align:left;}
.form-wrap .field-wrap label.short{width:80px;}
.form-wrap .field-wrap .field{float:left;}
.form-wrap .field-wrap .field .ui-btn{width:350px;height:34px;}
.form-wrap .field-wrap .field .short{margin-right:20px;width:162px;}
.form-wrap .field-wrap .field .info,.form-wrap .field-wrap .field .error{position:relative;top:2px;left:2px;display:block;font-size:12px;}
.form-wrap .field-wrap .field .info{width:340px;}
.form-wrap .field-wrap .field .error{clear:both;display:none;margin:5px 0 0 5px;width:340px;color:red;font-size:12px;}
.form-wrap .field-wrap .vcode img{display:block;background-color:gray;}
.form-wrap .field-group{*zoom:1;}
.form-wrap .field-group .field-wrap{float:left;*zoom:1;}
.form-wrap .field-group:after{clear:both;display:block;overflow:hidden;height:0;content:'\\20';}
.form-wrap .field-group .field-wrap .field .short{margin-right:0;}
.form-wrap .field-group .field-wrap .short{width:139px;}
.form-wrap .field-group .field-wrap label.span2{margin-left:10px;width:40px;}
.form-wrap .field-wrap .get-mvcode{display:block;}
.form-wrap .field-wrap .get-mvcode .ui-text{display:inline-block;margin-right:0;width:183px;}
.form-wrap .field-wrap .field .get-mvcode .ui-btn{width:165px;height:30px;border-left:0;}
.ui-text{position:relative;display:block;overflow:hidden;width:350px;height:36px;outline:0;border:1px solid #c2c2c2;font-size:16px;line-height:36px;}
.ui-text input{display:block;padding:0 5px;width:340px;height:36px;border:0;}
input.ui-text{padding:0 5px;}
.ui-text .tail{position:absolute;top:0;right:5px;color:#888;}
textarea.ui-text{padding:0 5px;}
body{background-color:#fff;}
.form-wrap .field-wrap label{top:8px;height:36px;}
.ui-select{z-index:2000;float:left;width:160px;height:28px;border:1px solid #c2c2c2;background:#fff;cursor:pointer;}
.ui-select .select-valueBar{position:relative;height:28px;}
.ui-select .select-valueBar .select-value{position:relative;display:block;margin-right:40px;padding:4px 0;white-space:nowrap;}
.ui-select .select-valueBar .select-value .select-text{float:left;display:inline;padding-left:6px;width:5em;outline:0;border:0;font-size:14px;}
.ui-select .select-valueBar .select-value .select-tail{top:7px\0;float:right;color:#888;}
.ui-select .select-valueBar .select-down{position:absolute;top:0;right:0;display:block;overflow:hidden;width:34px;height:28px;border-left:1px solid #c2c2c2;background-color:#e9ecee;}
.ui-select .select-valueBar .select-down .ui-icon{margin:8px 10px;color:#888;}
.ui-select .select-list{position:absolute;top:28px;left:-1px;display:none;overflow:auto;width:100%;max-height:180px;min-height:28px;border:1px solid #c2c2c2;background-color:#fff;-height:160px;}
.ui-select .select-list .select-item{padding:0 6px;background-color:#fff;line-height:28px;}
.ui-select .select-list .select-active{background-color:#dcdee0;}
.ui-select .select-list .select-hover{background-color:#a8d0f9;}
.ui-select-bottom .select-list{top:auto;bottom:28px;}
.ui-select-big{height:36px;}
.ui-select-big .select-valueBar .select-value{padding:8px 0;}
.ui-select-big .select-valueBar .select-down{height:36px;}
.ui-select-big .select-valueBar .select-down .ui-icon{margin:12px 10px;}
.ui-select-big .select-list{top:36px;min-height:36px;}
.ui-select-big .select-list .select-item{font-size:14px;line-height:36px;}
.ui-select-bottom.ui-select-bottom .select-list{top:auto;bottom:36px;}
.ui-viewmore-hide{display:none;}
.ui-viewmore-toggle{cursor:pointer;}
.ui-titleBody{padding:10px;}
.ui-titleBody .tb-title-inner{position:relative;padding-bottom:8px;height:18px;border-bottom:2px solid #ababab;line-height:18px;}
.ui-titleBody .tb-title .text{float:left;font-weight:800;font-size:16px;}
.ui-titleBody .tb-title .tail{position:absolute;top:2px;right:0;font-size:12px;}
.ui-titleBody .tb-body{padding:10px 0 0;}
.ui-titleBody .ui-list{margin-bottom:8px;}
.scrollbar{overflow:auto;margin-top:10px;height:190px;border:1px solid #bfcde2;background:#fff;line-height:180%;}
.scrollbar a{color:#234d89;}
.scrollbar .lagent{color:#222;font-size:14px;}
.scrollbar h4{margin:0;padding:0;}
.jspContainer{position:relative;overflow:hidden;}
.jspPane{position:absolute;}
.jspVerticalBar{position:absolute;top:0;right:0;width:24px;height:100%;background:#f2f7fd;}
.jspHorizontalBar{display:none;}
.jspVerticalBar *{margin:0;padding:0;}
.jspCap{display:none;}
.jspTrack{position:relative;background:#f2f7fd;}
.jspDrag{position:relative;top:0;left:0;background:#d5e2f2;cursor:pointer;}
.jspHorizontalBar .jspDrag{float:left;width:24px;height:100%;}
.jspArrow{display:block;width:24px;height:24px;border:1px solid #bfcde2;cursor:pointer;}
.jspArrow.jspDisabled{cursor:default;}
.jspArrowUp{border-top:0;border-right:0;background-repeat:no-repeat;}
.jspArrowDown{border-right:0;border-bottom:0;background-repeat:no-repeat;}
.jspVerticalBar .jspArrow:focus{outline:0;}
.jspCorner{float:left;height:100%;background:#eeeef4;}
.ui-dialog{position:absolute;top:0;left:0;z-index:20010;display:none;overflow:auto;width:100%;height:100%;}
.ui-dialog .ui-dialog-mask{position:absolute;top:0;left:0;z-index:0;width:100%;height:100%;background-color:#000;opacity:.5;filter:alpha(opacity=50);}
.ui-dialog .body{position:relative;z-index:1;overflow:auto;}
.ui-dialog .body .ui-dialog-body{margin:0 auto;padding-bottom:20px;background:#fff url(../images/loading_big.gif) center center no-repeat;}
.ui-dialog .body .ui-dialog-body .title{position:relative;height:60px;}
.ui-dialog .body .ui-dialog-body .alert{border-bottom:1px solid #ddd;background-color:#eef0f3;}
.ui-dialog .body .ui-dialog-body .close{position:absolute;top:20px;right:20px;color:#888;text-decoration:none;font-weight:200px;font-size:20px;font-family:rong-icon;*right:10px;*top:10px;*font-size:30px;}
.ui-dialog .body .ui-dialog-body .close:hover{color:#05b;}
.ie6tip{position:relative;overflow:hidden;margin:0 auto;width:1002px;height:92px;background-repeat:no-repeat;}
.ie6tip a.close{position:absolute;top:3px;right:15px;display:block;width:20px;height:20px;color:#502828;text-align:center;text-decoration:none;font-size:15px;}
.ie6tip a.close:hover{color:#402020;}
.ie6tip a.close:active{color:#693434;}
.ie6tip a.down{position:absolute;top:17px;right:60px;display:block;width:208px;height:50px;background:#41bf00;color:#fff;text-align:center;text-decoration:none;font-size:30px;line-height:51px;}
.ie6tip a.down:hover{background:#47cd02;}
.ie6tip a.down:active{background:#3aa802;}
.float-bar{position:fixed;top:50%;left:50%;display:none;margin-top:50px;margin-left:500px;height:120px;background-repeat:no-repeat;}
.float-bar .item{display:block;margin-bottom:-1px;padding-top:36px;width:58px;height:22px;border:1px solid #d6d6d6;color:#666;text-align:center;cursor:pointer;}
.float-bar .phone:hover{width:98px;background:#f9f9f9;}
.float-bar .hide{display:none;}
.float-bar .hover{width:98px;background:#f9f9f9;}
.float-bar .hover .desc{display:none;}
.float-bar .hover .hide{display:block;margin-top:-30px;padding-left:10px;text-align:left;}
.service_rate{padding:1px 4px;background:#e84006;color:#fff;}
.bg_red{background:#e84006;}
.bg_green{background:#4a9d00;}
.bg_gray{background:#666;}
.score{display:inline-block;margin-right:2px;height:22px;vertical-align:middle;*height:18px!important;*height:26px;}
.score i,.score em,.score b{float:left;display:inline-block;margin-right:0;width:16px;height:20px;background:url(../images/agent_icons.gif) no-repeat 0 -24px;zoom:1;}
.score i:after,.score em:after,.score b:after{clear:both;display:block;overflow:hidden;height:0;content:"\20";}
.score i{margin-left:0;background-position:0 -49px;}
.score em{background-position:0 -74px;}
.cc_wrap{padding-bottom:50px;width:440px;border:1px solid #b6b6b6;border-top:0;background:#fbfbfb url(../images/city_img.png) no-repeat bottom right;}
.cc_h{height:4px;background:#5093ec;font-size:0;}
.cc_c{padding:20px 30px 0;line-height:20px;_top:0;_left:0;}
.cc_c_h{padding-bottom:25px;font-weight:700;font-size:16px;}
.cic_n_hl{margin-top:20px;padding:0 5px;}
.cc_n_wl a{color:#2163cd;font-size:16px;}
.cc_n_btn{padding:0 18px;font-weight:700;line-height:22px;}
.cc_n_line{padding:25px 0 0 2px;}
.cc_n_line a{margin-right:10px;color:#666;text-decoration:underline;}
.r_btn{margin-bottom:12px;width:100px;height:36px;border:1px solid #ddd;border-radius:5px;box-shadow:0 1px 1px #EEE;text-align:center;line-height:36px;}
.r_btn a{display:block;color:#333;font-size:14px;}
.r_btn a:visited,.r_btn a:hover{color:#333;text-decoration:none;}
.cc_wrap .r_btn{float:left;margin-right:10px;}
.cc_c_c{padding-bottom:20px;}
.cc_wrap .close{position:absolute;top:0;right:0;padding:10px;width:20px;height:20px;background:url(../images/close.png) no-repeat center center;cursor:pointer;-right:10px;-top:10px;}
.cic_wrap{color:#222;font-weight:700;font-size:14px;line-height:20px;}
.cic_wrap .cic_main_text{margin-bottom:20px;font-size:16px;}
.cic_wrap .cic_main_text div{line-height:28px;}
.cic_wrap .cic_btn{float:left;width:165px;height:28px;color:#FFF;text-align:center;font-weight:700;font-size:16px;line-height:28px;}
.cic_wrap .cancel_btn{border:1px solid #a0a0a0;background:#ababab;}
.blue-button{background-color:#4a78e8;}
.ui-footer{clear:both;border-top:1px solid #c8c9ca;}
.ui-footer .ui-footer-inner{padding:20px 0 50px;border-top:1px solid #FFF;font-size:12px;}
.ui-footer .links{padding-bottom:15px;text-align:center;}
.ui-footer .links .links a{display:inline-block;color:#333;text-decoration:none;}
.ui-footer .links a:hover{color:#09f;}
.ui-footer .links .spliter{margin:0 10px;color:#ccc;}
.ui-footer .company{padding-bottom:15px;text-align:center;}
.ui-footer .copyright{padding-bottom:30px;color:#666;text-align:center;}
.ui-footer .copyright a{color:#666;text-decoration:none;}
.ui-footer .copyright a:hover{color:#09f;text-decoration:underline;}
.ui-footer .cer{text-align:center;}
.ui-footer .cer a{display:inline-block;margin:0 10px;width:114px;height:48px;border:1px solid #ddd;background-color:#fff;}
.ui-footer .cer a.chengxin{background-repeat:no-repeat;}
.ui-footer .cer a.vs{background-repeat:no-repeat;}
.ui-footer .cer a.beian{background-repeat:no-repeat;}
.ui-footer .cer a.kexin{width:133px;height:49px;border:0;background-repeat:no-repeat;}
.ui-footer .cer a.xinyong{width:132px;height:49px;border:0;background-repeat:no-repeat;}
.ui-footer .panel{display:none;overflow:hidden;margin:0 10px 10px;padding:8px 8px 0;border:1px solid gray;background-color:#fff;*height:1%;}
.ui-footer .panel li{float:left;width:20%;}
.ui-footer .panel li a{float:none;width:auto;}
.ui-footer .panel a{float:left;margin-bottom:8px;width:20%;}
.block-l,.block-r,.block-a{border:1px solid #DDD;background-color:#FFF;box-shadow:0 0 4px #DDD;}
.block-l{width:658px;}
.block-r{width:278px;}
.block-a{margin:0 auto;width:960px;}
.block-content{overflow:hidden;padding:5px 16px 15px;border-top:1px solid #e5ebee;}
.block-title{padding:5px 16px;background:#f1f7fc;color:#585f67;font-weight:700;font-size:16px;line-height:30px;}
.seo-block{margin:auto;width:990px;}
.seo-block-footer{background:#f9f9f9;text-align:left;}
.seo-part{margin:0 auto;width:990px;border:1px solid #EEE;background:#FFF;}
.seo-block .block-title{border:0;border-bottom:1px solid #e3e3e3;background-color:#fafafa;color:#222;font-size:14px;}
.seo-block ul li a{color:#999;}
.block-in{border-top:1px solid #eef5fa;}
.friend_list li,.hot_city_list li{float:left;overflow:hidden;padding-right:10px;width:82px;white-space:nowrap;}
.hot_city_list,.friend_list{color:#666;font-size:12px;line-height:20px;}
.hot_city_list li.wide{width:174px;}
.friend_list .spliter{display:none;}
.hot_city_list li a,.friend_list li a{color:#666;}
.hot_city_list li a:hover,.friend_list li a:hover{color:#0092ff;}
.seo_hot_tuijian{position:relative;}
.hotButton{position:absolute;top:2px;right:10px;float:right;cursor:pointer;}
#footer_creditlist li{width:122px;}
.seo-block{clear:both;margin-bottom:20px;}
.clearfix{*zoom:1;}
.clearfix:after{clear:both;display:block;overflow:hidden;height:0;content:'\\20';}
.ui-header{position:relative;z-index:1999;}
.ui-header .ui-nav-topbar{position:relative;z-index:9999;height:32px;background-color:#3c3d40;font-family:"Microsoft Yahei","寰蒋闆呴粦",Tahoma,Arial,Helvetica,STHeiti;}
.ui-header .ui-nav-topbar .item{display:inline-block;padding:0 10px;padding-top:6px;height:26px;line-height:19px;*height:28px;*padding-top:4px;*display:inline;*zoom:1;*position:relative;*top:1px;}
.ui-header .ui-nav-topbar .item a{color:#DDD;text-decoration:none;font-size:12px;}
.ui-header .ui-nav-topbar .item a:hover{color:#FFF;}
.ui-header .ui-nav-topbar .item .recity{margin-left:2px;color:#5b96ff;}
.ui-header .ui-nav-topbar .map{margin-left:-5px;padding:0 18px 0 2px;}
.ui-header .ui-nav-topbar .map-hover .ui-icon,.ui-header .ui-nav-topbar .map-hover a{color:#fff;}
.ui-header .ui-nav-topbar .map-hover .recity,.ui-header .ui-nav-topbar .map-hover .recity:hover{color:#49acf8;text-decoration:underline;}
.ui-header .ui-nav-topbar .ui-spliter{position:relative;top:-1px;width:0;*float:left;*vertical-align:middle;*display:none;*top:9px;}
.ui-header .ui-nav-topbar .menu{position:relative;}
.ui-header .ui-nav-topbar .menu .ui-icon{position:relative;left:2px;*top:0;}
.ui-header .ui-nav-topbar .menu .menu-list{display:none;line-height:32px;}
.ui-header .ui-nav-topbar .menu-hover{background-color:#4d4e51;}
.ui-header .ui-nav-topbar .menu-hover a,.ui-header .ui-nav-topbar .menu-hover a .ui-icon{color:#fff;}
.ui-header .ui-nav-topbar .menu-hover .menu-list{position:absolute;top:32px;left:0;z-index:9999;display:block;width:100px;text-align:left;*width:95px;}
.ui-header .ui-nav-topbar .menu-hover .menu-list .menu-item{padding-left:10px;background:#4d4e51;}
.ui-header .ui-nav-topbar .menu-hover .menu-list .menu-item:hover{background-color:#3c3d40;}
.ui-header .ui-nav-topbar .fix-margin{position:relative;right:-10px;}
.ui-header .ui-nav-main,.ui-header .ui-nav-xpath{overflow:hidden;height:80px;background-color:#f6f7f9;}
.ui-header .ui-nav-main .logo-m{overflow:hidden;padding:15px 50px 15px 0;width:162px;height:50px;}
.ui-header .ui-nav-main{border-bottom:1px solid #8e8e8e;}
.ui-header .ui-nav-main .list{padding-top:40px;height:40px;}
.ui-header .ui-nav-main .list .ui-spliter{position:relative;top:3px;top:0\0;margin:2px 5px;width:0;height:20px;border-color:#d3d3d4;background-color:#f6f7f9;vertical-align:top;border-left-style:dotted;}
.ui-header .ui-nav-main .list .item{position:relative;top:-1px;display:inline-block;*display:inline;*zoom:1;}
.ui-header .ui-nav-main .list .item .ui-icon-new{position:absolute;top:-15px;right:-10px;*right:-5px;}
.ui-header .ui-nav-main .list .item a{display:inline-block;overflow:hidden;margin:0 5px;padding:3px 5px 0;width:72px;height:35px;border-bottom:3px solid #f6f7f9;color:#666;text-align:center;text-decoration:none;font-weight:700;font-size:17px;*width:80px;*margin-left:-2px;*zoom:1;}
.ui-header .ui-nav-main .list .item a:hover,.ui-header .ui-nav-main .list .current a{border-color:#3d73cb;color:#49acf8;}
.ui-header .ui-nav-xpath .logo-x{margin:25px 12px 0 0;width:137px;height:31px;}
.ui-header .ui-nav-xpath .list{padding-top:30px;height:20px;font-size:12px;line-height:20px;}
.ui-header .ui-nav-xpath .list .ui-icon-spliter{position:relative;top:5px;margin:2px 3px;border:0;color:#666;vertical-align:top;text-align:center;letter-spacing:0;font-family:"瀹嬩綋";*height:20px;*margin:0 -3px 0 3px;}
.ui-nav-new{position:relative;border-bottom: 2px solid #3a6dbf;}
.ui-nav-new.border-no{border-bottom:0;}
.ui-nav-new .wrap-logo,.ui-nav-new a.logox{display:inline-block;width:200px;height:74px;*display:inline;*zoom:1;}
.ui-nav-new a.logo{overflow:hidden;line-height:99em;}
.ui-nav-new .change-city{display:inline-block;padding:16px 0 2px 10px;width:100px;height:62px;vertical-align:top;*display:inline;*zoom:1;}
.ui-nav-new .change-city .name{padding-bottom:2px;color:#555;font-size:14px;}
.ui-nav-new .nav-tail,.ui-nav-new .nav-sub,.ui-nav-new .nav-main{position:absolute;z-index:99;}
.ui-nav-new .nav-main{z-index:999;}
.ui-nav-new .nav-tail .item,.ui-nav-new .nav-sub .item,.ui-nav-new .nav-main .item{display:inline-block;color:#222;*display:inline;*zoom:1;}
.ui-nav-new .nav-tail{top:-1px;right:0;z-index:199;}
.ui-nav-new .nav-tail .ui-spliter{position:relative;top:-1px;right:-5px;z-index:199;*float:left;*right:5px;_right:2px;*top:10px;}
.ui-nav-new .nav-tail .item{padding-left:10px;width:75px;height:34px;border:1px solid #fff;color:#888;line-height:34px;*float:left;}
.ui-nav-new .nav-tail .item:hover{color:#222;text-decoration:none;}
.ui-nav-new .nav-tail .item .ui-icon{top:-1px;}
.ui-nav-new .nav-tail .menu a{color:#888;}
.ui-nav-new .nav-tail .menu{position:relative;}
.ui-nav-new .nav-tail .menu .menu-list{position:absolute;top:34px;left:-1px;display:none;width:85px;border:1px solid #ddd;background-color:#eee;}
.ui-nav-new .nav-tail .menu .menu-list .menu-item{display:block;padding:0 5px;height:34px;}
.ui-nav-new .nav-tail .menu .menu-list .menu-item:hover{background-color:#fff;}
.ui-nav-new .nav-tail .menu-hover,.ui-nav-new .nav-tail .menu:hover{z-index:10000;border:1px solid #ddd;background-color:#eee;}
.ui-nav-new .nav-tail .menu-hover a,.ui-nav-new .nav-tail .menu:hover a{color:#222;text-decoration:none;}
.ui-nav-new .nav-tail .menu-hover .menu-list,.ui-nav-new .nav-tail .menu:hover .menu-list{display:block;}
.ui-nav-new .nav-main{top:41px;right:0;z-index:99;padding-right:1px;padding-left:5px;border-right:1px solid #e3e3e3;background-repeat:repeat-x;*top:40px;}
.ui-nav-new .nav-main .inner{margin-right:-1px;}
.ui-nav-new .nav-main .item{margin-left:-5px;width:87px;height:38px;border-top:1px solid #e5e5e5;border-left:1px solid #e3e3e3;text-align:center;font-size:18px;line-height:38px;*margin-left:-1px;}
.ui-nav-new .nav-main .item:first-child{border-top-left-radius:2px;}
.ui-nav-new .nav-main .item:last-child{border-top-right-radius:2px;}
.ui-nav-new .nav-main .active,.ui-nav-new .nav-main .item:hover{color:#fff;text-decoration:none;}
.ui-nav-new .nav-main .item a:hover,.ui-nav-new .nav-main .item:hover{color:#05c;text-decoration:none;}
.ui-nav-new .nav-main .active{position:relative;margin-right:-1px;margin-bottom:-1px;padding-right:1px;padding-bottom:1px;border-color:#3a6dbf;background-color:#3a6dbf;}
.ui-nav-new .nav-main .active:hover{color:#fff;}
.ui-nav-new .nav-main .nav-more{position:relative;z-index:99;}
.ui-nav-new .nav-main .list{position:absolute;top:38px;left:-1px;display:none;width:87px;border:1px solid #cfcfcf;border-bottom:0;}
.ui-nav-new .nav-main .nav-more:hover .list,.ui-nav-new .nav-main .nav-more-hover .list{display:block;}
.ui-nav-new .nav-main .list a{display:block;width:87px;height:37px;border-bottom:1px solid #cfcfcf;background-color:#eee;}
.ui-nav-new .nav-main .list a:hover{background-color:#fff;color:#05b;text-decoration:none;}
.ui-nav-new .nav-sub{position:relative;top:-1px;margin-bottom:-1px;width:100%;height:36px;background:#3a6dbf;}
.ui-nav-new .nav-sub .item{margin:7px 0 0 10px;padding:0 10px;height:24px;color:#fff;text-decoration:none;font-size:14px;line-height:24px;}
.ui-nav-new .nav-sub .active,.ui-nav-new .nav-sub .item:hover{border-radius:3px;background:#144799;}
.ui-nav-xpath-new{padding-top:10px;height:36px;line-height:36px;}
.ui-nav-xpath-new,.ui-nav-xpath-new a{color:#bbb;}
.ui-nav-xpath-new a:hover{color:#49acf8;}
.calclist .ui-titleBody .tb-title-inner{border-bottom:1px solid #ababab;}
.calclist .list-item{padding-bottom:15px;}
.calclist .list-item .face span{display:block;margin-right:10px;width:32px;height:32px;cursor:pointer;}
.calclist .list-item .shenjia{background-repeat:no-repeat;}
.calclist .list-item .daikuan{background-repeat:no-repeat;}
.calclist .list-item .zige{background-repeat:no-repeat;}
.ui-tab-primary .ui-tab-nav-item{background-position:0 2px;}
.ui-tab-primary .ui-tab-nav .current{background-position:0 -77px;}
.ui-nav-new .nav-main{background-position:0 -153px;}
.ui-tab-primary .ui-tab-nav-item,.ui-tab-primary .ui-tab-nav .current,.ui-nav-new .nav-main{background-image:url(../images/common_x.png);}
.wrap-base-inner{background-position:740px 0;}
.wrap-base-inner{background-image:url(../images/common_y.png);}
.ui-btn-yellow{background-position:-900px 0;}
.ui-icon-phone{background-position:-990px -68px;}
.ui-icon-more-down{background-position:-993px -126px;}
.ui-icon-spliter{background-position:-995px -171px;}
.ui-icon-maptip{background-position:-992px -218px;}
.ui-icon-sign{background-position:-985px -274px;}
.ui-icon-warning{background-position:-984px -331px;}
.ui-icon-ok{background-position:-982px -389px;}
.ui-icon-close{background-position:-990px -449px;}
.ui-icon-house{background-position:-987px -501px;}
.ui-icon-house-x{background-position:-987px -555px;}
.ui-icon-diya{background-position:-990px -610px;}
.ui-icon-danbao{background-position:-991px -661px;}
.ui-icon-chujie{background-position:-990px -713px;}
.ui-icon-zhongjie{background-position:-988px -765px;}
.ui-icon-danbao2{background-position:-991px -816px;}
.ui-icon-car{background-position:-989px -868px;}
.ui-icon-person{background-position:-988px -919px;}
.ui-icon-watch{background-position:-990px -971px;}
.ui-icon-credit{background-position:-990px -1023px;}
.ui-icon-up{background-position:-994px -1074px;}
.ui-icon-left{background-position:-996px -1123px;}
.ui-icon-star{background-position:-986px -1172px;}
.ui-icon-star-off{background-position:-986px -1228px;}
.ui-icon-cer-todo{background-position:-979px -1284px;}
.ui-icon-comcer-todo{background-position:-979px -1347px;}
.ui-icon-cer-done{background-position:-979px -1410px;}
.ui-icon-comcer-done{background-position:-979px -1473px;}
.ui-icon-new{background-position:-969px -1536px;}
.ui-icon-dot{background-position:-1000px -1594px;}
.ui-app-daikuan-32{background-position:-970px -1636px;}
.ui-app-fangdai-32{background-position:-970px -1708px;}
.ui-icon-viewmore{background-position:-991px -1780px;}
.ui-icon-viewmore-up{background-position:-991px -1831px;}
.ui-icon-download{background-position:-990px -1882px;}
.ui-icon-qrcode{background-position:-990px -1934px;}
.ui-icon-apple{background-position:-990px -1986px;}
.ui-icon-android{background-position:-989px -2040px;}
.ui-face-logo-x{background-position:-865px -2185px;}
.ui-face-icon{background-position:-960px -2256px;}
.ui-face-round{background-position:-950px -2338px;}
.ui-face-zj{background-position:-950px -2430px;}
.ui-face-zj-hover{background-position:-950px -2522px;}
.ui-face-person{background-position:-950px -2614px;}
.jspArrowUp{background-position:-978px -2706px;}
.jspArrowDown{background-position:-978px -2770px;}
.ie6tip{background-position:0 -2834px;}
.float-bar{background-position:-944px -3026px;}
.ui-footer .cer a.chengxin{background-position:-889px -3182px;}
.ui-footer .cer a.vs{background-position:-918px -3268px;}
.ui-footer .cer a.beian{background-position:-888px -3352px;}
.ui-footer .cer a.kexin{background-position:-869px -3440px;}
.ui-footer .cer a.xinyong{background-position:-870px -3529px;}
.calclist .list-item .shenjia{background-position:-970px -3618px;}
.calclist .list-item .daikuan{background-position:-970px -3690px;}
.calclist .list-item .zige{background-position:-970px -3762px;}
.ui-btn-yellow,.ui-icon-phone,.ui-icon-more-down,.ui-icon-spliter,.ui-icon-maptip,.ui-icon-sign,.ui-icon-warning,.ui-icon-ok,.ui-icon-close,.ui-icon-house,.ui-icon-house-x,.ui-icon-diya,.ui-icon-danbao,.ui-icon-chujie,.ui-icon-zhongjie,.ui-icon-danbao2,.ui-icon-car,.ui-icon-person,.ui-icon-watch,.ui-icon-credit,.ui-icon-up,.ui-icon-left,.ui-icon-star,.ui-icon-star-off,.ui-icon-cer-todo,.ui-icon-comcer-todo,.ui-icon-cer-done,.ui-icon-comcer-done,.ui-icon-new,.ui-icon-dot{background-image:url(../images/common_z.png);}
.ui-app-daikuan-32,.ui-app-fangdai-32,.ui-icon-viewmore,.ui-icon-viewmore-up,.ui-icon-download,.ui-icon-qrcode,.ui-icon-apple,.ui-icon-android,.ui-face-logo-x,.ui-face-icon,.ui-face-round,.ui-face-zj,.ui-face-zj-hover,.ui-face-person,.jspArrowUp,.jspArrowDown,.ie6tip,.float-bar,.ui-footer .cer a.chengxin,.ui-footer .cer a.vs,.ui-footer .cer a.beian,.ui-footer .cer a.kexin,.ui-footer .cer a.xinyong,.calclist .list-item .shenjia,.calclist .list-item .daikuan,.calclist .list-item .zige{background-image:url(../images/common_z.png);}


