<extend name="Base/common"/>
<block name="headplugin">
    <link rel="stylesheet" type="text/css" href="__CSS__/main_chedai.css">
</block>
<block name="body">
    <div class="wrap-base" id="content">
        <div class="main-content">
            <div class="pinpai">
                <div class="header">
                    <h1>家用新车贷款</h1>
                    <a href="/chedai/car-p1">查看全部品牌</a>
                    <span>免息优惠99家，共1376位经销商解答您的咨询</span>
                </div>
                <div data-ui="ui-scrollpane" class="pinpai-inner jspScrollable" style="overflow: hidden; padding: 0px; width: 716px;" tabindex="0">

                    <div class="jspContainer" style="width: 716px; height: 371px;"><div class="jspPane" style="padding: 0px; width: 688px; top: 0px;"><ul class="brand-list">
                                <li>
                                    <a target="_blank" href="/chedai/carp-d0sdb15p4">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/8d/8d4401ff4351ca8ef7873da5052d41c1408bed84.jpeg
                                             ">
                                        <div>
                                            <h2>雪佛兰</h2>
                                            <p>
                                                <var>机构：</var>
                                                <span>
                                                    上汽通用汽车金融																</span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>最低0利率</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/chedai/carp-84yd3de37">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/86/8601584e771f4a81fa57de4345892d1cb9238911.jpeg
                                             ">
                                        <div>
                                            <h2>别克</h2>
                                            <p>
                                                <var>机构：</var>
                                                <span>
                                                    上汽通用汽车金融																</span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>最低0利率</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/chedai/carp-47sa37524">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/72/7241656913707dacb4bc4aac45540b8e5bea1c12.jpeg
                                             ">
                                        <div>
                                            <h2>凯迪拉克</h2>
                                            <p>
                                                <var>机构：</var>
                                                <span>
                                                    上汽通用汽车金融																</span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>最低0利率</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/chedai/carp-eayfe8b2m">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/a7/a77edf21be5363eeabb6b37a767238d1d860786c.jpeg
                                             ">
                                        <div>
                                            <h2>哈弗</h2>
                                            <p>
                                                <var>机构：</var>
                                                <span>
                                                    上汽通用汽车金融																</span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>低首付低月供</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/chedai/carp-bby3d7e8m">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/39/39f6d66d026dda48ff0b2c4fa1b8e112756d223a.jpeg
                                             ">
                                        <div>
                                            <h2>长城</h2>
                                            <p>
                                                <var>机构：</var>
                                                <span>
                                                    上汽通用汽车金融																</span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>低首付低月供</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/chedai/carp-88ye6db3m">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/4e/4ec31c889063df0f059f895cd038d61a540891e4.jpeg
                                             ">
                                        <div>
                                            <h2>比亚迪</h2>
                                            <p>
                                                <var>银行：</var>
                                                <span>
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/d7/d7c4b41e9a687381b52f03e73f2d84f0b6aa4d1b.jpeg">
                                                </span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>贴息</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/chedai/carp-93s0115q3">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/25/251d92fe2c4569e2f3f553c637541414b0a34d50.jpeg
                                             ">
                                        <div>
                                            <h2>铃木</h2>
                                            <p>
                                                <var>银行：</var>
                                                <span>
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/d7/d7c4b41e9a687381b52f03e73f2d84f0b6aa4d1b.jpeg">
                                                </span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>贴息</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/chedai/carp-1fy32ef77">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/50/509aa3e8b2d6613af45e69731ee61324ccdf4c5b.jpeg
                                             ">
                                        <div>
                                            <h2>大众</h2>
                                            <p>
                                                <var>银行：</var>
                                                <span>
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/27/27aac1000c77cff71bbed956fea2d4274bb737b6.jpeg">
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/80/804fb30b65a766e215341274a5f5c40ba259aabc.jpeg">
                                                </span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>免息</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/chedai/carp-97s97a5i3">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/d0/d0ed758bf1e3058231f13bae5ea9f86a2e96af94.jpeg
                                             ">
                                        <div>
                                            <h2>日产</h2>
                                            <p>
                                                <var>银行：</var>
                                                <span>
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/24/24dbc46a9980389e4359468d93437fb91e27bbb6.jpeg">
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/d7/d7c4b41e9a687381b52f03e73f2d84f0b6aa4d1b.jpeg">
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/b8/b818a8f758b9cc6385d84a962df93dfd848c3c4c.jpeg">
                                                </span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>免息</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/chedai/carp-0fsc2350q">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/0b/0b5d36802bc8ebfd3219b5ae33464c4f2d7f2c08.jpeg
                                             ">
                                        <div>
                                            <h2>现代</h2>
                                            <p>
                                                <var>银行：</var>
                                                <span>
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/51/515fb62ed7c37e6e9a4cae6f5b0ff577f0a9b271.jpeg">
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/d7/d7c4b41e9a687381b52f03e73f2d84f0b6aa4d1b.jpeg">
                                                </span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>免息</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/chedai/carp-1eye5703g">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/fb/fba4a0a705b6e2f5a1b89555b6b5c7487a2f4407.jpeg
                                             ">
                                        <div>
                                            <h2>宝马</h2>
                                            <p>
                                                <var>银行：</var>
                                                <span>
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/c2/c20dc21746db41b956c8d2fe514a0fe9051d1261.jpeg">
                                                </span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>免息</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/chedai/carp-eay5137v4">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/21/21b19cadcbd26093138af81ce54c532c0c717ea2.jpeg
                                             ">
                                        <div>
                                            <h2>福特</h2>
                                            <p>
                                                <var>银行：</var>
                                                <span>
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/51/515fb62ed7c37e6e9a4cae6f5b0ff577f0a9b271.jpeg">
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/dd/dd7e16f7fa04c77fe2bca9ab63777af3c6ec854b.jpeg">
                                                </span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>低首付</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/chedai/carp-57069880h">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/82/82a1d7a11976f228d6009768acb2bf64cfa79ab2.jpeg
                                             ">
                                        <div>
                                            <h2>奥迪</h2>
                                            <p>
                                                <var>银行：</var>
                                                <span>
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/24/24dbc46a9980389e4359468d93437fb91e27bbb6.jpeg">
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/d7/d7c4b41e9a687381b52f03e73f2d84f0b6aa4d1b.jpeg">
                                                </span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>免息</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/chedai/carp-14sf965xq">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/23/23b73f723c9961d7a6b474ecd4330265e84c15a5.jpeg
                                             ">
                                        <div>
                                            <h2>奇瑞</h2>
                                            <p>
                                                <var>银行：</var>
                                                <span>
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/d7/d7c4b41e9a687381b52f03e73f2d84f0b6aa4d1b.jpeg">
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/39/39802b12a4e1ed9ee91c625f57b00fcf965dfc53.jpeg">
                                                </span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>贴息</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/chedai/carp-c7s6d85gj">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/e9/e93200970a3ffc20039f8372e282c4bcef56e9f6.jpeg
                                             ">
                                        <div>
                                            <h2>马自达</h2>
                                            <p>
                                                <var>银行：</var>
                                                <span>
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/51/515fb62ed7c37e6e9a4cae6f5b0ff577f0a9b271.jpeg">
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/24/24dbc46a9980389e4359468d93437fb91e27bbb6.jpeg">
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/d7/d7c4b41e9a687381b52f03e73f2d84f0b6aa4d1b.jpeg">
                                                </span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>免息</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/chedai/carp-35ybe88rg">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/b9/b9f0514c0e9b1152e816a752ff26afc39e1ffe2a.jpeg
                                             ">
                                        <div>
                                            <h2>标致</h2>
                                            <p>
                                                <var>银行：</var>
                                                <span>
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/d7/d7c4b41e9a687381b52f03e73f2d84f0b6aa4d1b.jpeg">
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/7f/7ffbe7d93f1f1264e45454649aa96542c9c64a97.jpeg">
                                                </span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>免息</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/chedai/carp-ddsf9f54j">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/00/005b806f1cb07f3132d1d415c70c39555236f4c4.jpeg
                                             ">
                                        <div>
                                            <h2>中华</h2>
                                            <p>
                                                <var>银行：</var>
                                                <span>
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/d7/d7c4b41e9a687381b52f03e73f2d84f0b6aa4d1b.jpeg">
                                                </span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>免息</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/chedai/carp-29y171ax8">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/87/8792c8dc3f21cdd06cd5e39d371ffacc136c091f.jpeg
                                             ">
                                        <div>
                                            <h2>金杯</h2>
                                            <p>
                                                <var>银行：</var>
                                                <span>
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/d7/d7c4b41e9a687381b52f03e73f2d84f0b6aa4d1b.jpeg">
                                                </span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>免息</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/chedai/carp-12s3b45x4">
                                        <img class="brand-logo" src="http://static.rong360.com/pimg/c7/c7e3aa3dc92e0a2fbae13355c65452fed698c7eb.jpeg
                                             ">
                                        <div>
                                            <h2>讴歌</h2>
                                            <p>
                                                <var>银行：</var>
                                                <span>
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/51/515fb62ed7c37e6e9a4cae6f5b0ff577f0a9b271.jpeg">
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/5f/5f6e5d4410bd0e40c1fcb5597a62d788f2bad535.jpeg">
                                                    <img class="bank-logo" src="http://static.rong360.com/pimg/d7/d7c4b41e9a687381b52f03e73f2d84f0b6aa4d1b.jpeg">
                                                </span>
                                            </p>
                                            <p>
                                                <var>特色：</var>
                                                <span>贴息</span>
                                            </p><p>
                                            </p></div>
                                    </a>
                                </li>
                            </ul></div><div class="jspVerticalBar"><div class="jspCap jspCapTop"></div><a class="jspArrow jspArrowUp jspDisabled"></a><div class="jspTrack" style="height: 321px;"><div class="jspDrag" style="height: 185px;"><div class="jspDragTop"></div><div class="jspDragBottom"></div></div></div><a class="jspArrow jspArrowDown"></a><div class="jspCap jspCapBottom"></div></div></div></div>
            </div>
            <div class="section sec-ershou">
                <div class="header">
                    <h1>二手车/营运车贷款</h1>
                </div>
                <p>购买二手车/营运车？不能通过经销商办理，仍有许多个人/企业贷款供你选择！</p>
                <ul class="product-list clearfix">
                    <li><a href="/search.html?loan_limit=3&amp;loan_term=12&amp;application_type=9" rel="nofollow">▪3万二手车贷款</a></li>
                    <li><a href="/search.html?loan_limit=5&amp;loan_term=12&amp;application_type=9" rel="nofollow">▪5万二手车贷款</a></li>
                    <li><a href="/search.html?loan_limit=10&amp;loan_term=12&amp;application_type=9" rel="nofollow">▪10万二手车贷款</a></li>
                    <li><a href="/search.html?loan_limit=15&amp;loan_term=12&amp;application_type=9" rel="nofollow">▪15万二手车贷款</a></li>
                    <li><a href="/search.html?loan_limit=20&amp;loan_term=12&amp;application_type=9" rel="nofollow">▪20万二手车贷款</a></li>
                    <li><a href="/search.html?loan_limit=3&amp;loan_term=12&amp;application_type=9" rel="nofollow">▪3万营运车贷款</a></li>
                    <li><a href="/search.html?loan_limit=5&amp;loan_term=12&amp;application_type=9" rel="nofollow">▪5万营运车贷款</a></li>
                    <li><a href="/search.html?loan_limit=10&amp;loan_term=12&amp;application_type=9" rel="nofollow">▪10万营运车贷款</a></li>
                    <li><a href="/search.html?loan_limit=15&amp;loan_term=12&amp;application_type=9" rel="nofollow">▪15万营运车贷款</a></li>
                    <li><a href="/search.html?loan_limit=20&amp;loan_term=12&amp;application_type=9" rel="nofollow">▪20万营运车贷款</a></li>
                </ul>
            </div>
            <div class="section clearfix">
                <h1 class="title">如何选择车贷？</h1>
                <div>
                    <ul class="solution-list">
                        <li>
                            <a target="_blank" href="http://www.rong360.com/gl/2013/12/10/30983.html" class="hover">
                                <h3>银行按揭车贷</h3>
                                <p>额度高期限长利率最低。但申请条件较高，需要抵押，审批周期长</p>
                                <var class="step1"></var>
                                <em></em>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.rong360.com/gl/2013/12/10/30983.html">
                                <h3>信用卡分期</h3>
                                <p>无需抵押，手续快捷。但对资质和信用要求也比较高，额度期限略低</p>
                                <var class="step2"></var>
                                <em></em>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.rong360.com/gl/2013/12/10/30983.html">
                                <h3>汽车金融公司</h3>
                                <p>申请条件最宽松。虽然费用较高，但常伴有厂家优惠政策，也很划算</p>
                                <var class="step3"></var>
                                <em></em>
                            </a>
                        </li>
                        <li>
                            <a class="last" target="_blank" href="http://www.rong360.com/gl/2013/12/10/30983.html">
                                <h3>其他个人贷款</h3>
                                <p>非专门的购车贷款，适合二手、营运车购买，还能享受全款购车优惠</p>
                                <var class="step4"></var>
                                <em></em>
                            </a>
                        </li>
                    </ul>
                    <div class="process">
                        <h3>1.银行按揭车贷办理流程</h3>
                        <div class="process-content" id="process1">
                            <div class="step">选定爱车</div>
                            <div class="gap"></div>
                            <div class="step">申请贷款</div>
                            <div class="gap"></div>
                            <div class="step">提交资料</div>
                            <div class="gap"></div>
                            <div class="step">审核通过</div>
                            <div class="gap"></div>
                            <div class="step">放款提车</div>
                        </div>
                        <div style="display: none;" class="process-content" id="process2">
                            <div class="step">申请贷款</div>
                            <div class="gap"></div>
                            <div class="step">提交资料</div>
                            <div class="gap"></div>
                            <div class="step">审核通过</div>
                            <div class="gap"></div>
                            <div class="step">放款</div>
                            <div class="gap"></div>
                            <div class="step">全款买车</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section clearfix">
                <div class="block block-left">
                    <div class="header">
                        <h1>车贷技巧</h1>
                        <a target="_blank" class="more" href="http://www.rong360.com/gl/chedaijiqiao/">更多&gt;&gt;</a>
                    </div>
                    <div class="block-inner">
                        <ul class="article-list">
                            <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/26/60885.html">央行降息后车贷能省多少钱？油钱省了</a></li>
                            <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/25/60784.html">购车被骗亲身经历 大礼包就是个坑</a></li>
                            <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/24/60672.html">车贷血泪史 广大车友须谨记</a></li>
                            <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/14/60090.html">贷款买车买房后，后悔了怎么办？</a></li>
                            <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/13/60027.html">买车不吃亏 完胜销售人员</a></li>
                            <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/12/59942.html">异地购买二手车的七大事项</a></li>
                            <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/06/59576.html">分期付款哪种强？你该选信用卡</a></li>
                            <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/03/59346.html">信用卡分期购车陷阱需谨慎</a></li>
                            <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/03/59340.html">银行传统车贷逐渐隐退 选择信用卡睁大眼</a></li>
                            <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/03/59321.html">曝：一个银行员工揭露建行车贷利率的猫腻</a></li>
                            <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/10/31/59220.html">九家银行信用卡车贷测评：农行利率最低</a></li>
                        </ul>
                    </div>
                </div>
                <div class="block block-right">
                    <div class="header">
                        <h1>购车用车</h1>
                        <a target="_blank" class="more" href="http://www.rong360.com/gl/goucheyongche/">更多&gt;&gt;</a>
                    </div>
                    <ul class="article-list">
                        <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/27/60997.html">车市角度：降息利好汽车市场</a></li>
                        <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/27/60995.html">开车追尾怎么避免？</a></li>
                        <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/27/60987.html">男子偷情妇20万：帮老婆还车贷孝敬老丈人</a></li>
                        <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/25/60772.html">一个新手试驾的忠告 试驾需规避风险</a></li>
                        <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/19/60386.html">汽车销售“价格倒挂”严重 必将损害消费者权益</a></li>
                        <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/19/60382.html">三类人最热衷改公里数</a></li>
                        <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/18/60268.html">汽车公里数会说谎 被刷表的车怎样辨别</a></li>
                        <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/18/60261.html">修车可否不去4S店网购配件靠谱么？</a></li>
                        <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/18/60259.html">试驾时发生交通事故 责任该由4S店还是肇事者承担？</a></li>
                        <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/17/60182.html">吃亏是福？二手车购买手续大汇总</a></li>
                        <li><var></var><a target="_blank" href="http://www.rong360.com/gl/2014/11/17/60170.html">汽车油耗增加的原因有哪些？</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="side-right">
            <!--
                    <div class="section">
                            <img src="/static/img/tmp/adv.jpg" />
                    </div>
            -->
            <div class="section">
                <h1 class="title">车贷常识
                    <a target="_blank" href="http://www.rong360.com/gl/chedaijichuzhishi/" class="more">更多&gt;&gt;</a>
                </h1>
                <ul class="article-list">
                    <li class="text-overflow"><a target="_blank" href="http://www.rong360.com/gl/2014/11/26/60882.html">为什么最近银行降息了，我的车贷还的还多了呢？</a></li>
                    <li class="text-overflow"><a target="_blank" href="http://www.rong360.com/gl/2014/11/24/60696.html">银行降息车贷会降么？每月少还一顿饭</a></li>
                    <li class="text-overflow"><a target="_blank" href="http://www.rong360.com/gl/2014/11/21/60571.html">车险就要到期了 该上哪里的好呢</a></li>
                    <li class="text-overflow"><a target="_blank" href="http://www.rong360.com/gl/2014/11/19/60388.html">内幕：提前还清车贷还需要扣手续费吗？</a></li>
                    <li class="text-overflow"><a target="_blank" href="http://www.rong360.com/gl/2014/11/14/60083.html">公积金能否贷款买车</a></li>
                    <li class="text-overflow"><a target="_blank" href="http://www.rong360.com/gl/2014/11/13/60014.html">建设银行一汽大众奥迪分期手续费多少？</a></li>
                    <li class="text-overflow"><a target="_blank" href="http://www.rong360.com/gl/2014/11/11/59813.html">贷款买车在4S店买保险合理吗？</a></li>
                    <li class="text-overflow"><a target="_blank" href="http://www.rong360.com/gl/2014/11/06/59584.html">车险快速理赔程序</a></li>
                </ul>
            </div>

            <div data-ui="tab" class="section tab">
                <ul class="tab-header">
                    <li><a href="javascript:void(0);" class="active br" target="_blank">车贷计算器</a></li>
                    <li><a href="javascript:void(0);" target="_blank">购车计算器</a></li>
                </ul>
                <div class="tab-contents">
                    <div data-wrap="form" class="tab-content active" id="chedai-form-src">
                        <div class="form-item">
                            <label class="form-label">购车价格</label>
                            <div class="form-item-content">
                                <div data-option-input="true" data-ui="ui-select" class="ui-select">
                                    <div class="select-valueBar">
                                        <input type="hidden" value="15" name="car_price">
                                        <div class="select-value"><input data-required="true" maxlength="5" value="15" data-format="number" class="select-text"><span class="select-tail">万元</span></div>
                                        <span class="select-down"><i class="ui-icon">下</i></span>
                                    </div>
                                    <ul class="select-list">
                                        <li data-value="10" class="select-item">10万元</li>
                                        <li data-value="15" class="select-item select-active">15万元</li>
                                        <li data-value="20" class="select-item">20万元</li>
                                        <li data-value="25" class="select-item">25万元</li>
                                        <li data-type="input" class="select-item">其他</li>
                                    </ul>
                                </div>
                                <div class="alert-info">
                                    <span class="doc-color-red">请输入正确车价</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-item">
                            <label class="form-label">首付比例</label>
                            <div class="form-item-content">
                                <div data-ui="ui-select" class="ui-select">
                                    <div class="select-valueBar">
                                        <input type="hidden" value="3" name="loan_limit">
                                        <div class="select-value"><span class="select-text">首付3成</span></div>
                                        <span class="select-down"><i class="ui-icon">下</i></span>
                                    </div>
                                    <ul class="select-list">
                                        <li data-value="3" class="select-item select-active">首付3成</li>
                                        <li data-value="4" class="select-item">首付4成</li>
                                        <li data-value="5" class="select-item">首付5成</li>
                                        <li data-value="6" class="select-item">首付6成</li>
                                        <li data-value="7" class="select-item">首付7成</li>
                                        <li data-value="8" class="select-item">首付8成</li>
                                        <li data-value="9" class="select-item">首付9成</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-item">
                            <label class="form-label">贷款期限</label>
                            <div class="form-item-content">
                                <div data-ui="ui-select" class="ui-select">
                                    <div class="select-valueBar">
                                        <input type="hidden" value="12" name="loan_term">
                                        <div class="select-value"><span class="select-text">3年</span></div>
                                        <span class="select-down"><i class="ui-icon">下</i></span>
                                    </div>
                                    <ul class="select-list">
                                        <li data-value="36" class="select-item select-active">3年</li>
                                        <li data-value="24" class="select-item">2年</li>
                                        <li data-value="12" class="select-item">1年</li>
                                        <li data-value="6" class="select-item">6个月</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="form-item-content">
                                <button class="calc-btn" id="chedai-btn">计算</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="gouche-form-src">
                        <div class="form-item">
                            <label class="form-label">所在地</label>
                            <div class="form-item-content">
                                <div data-option-input="true" data-ui="ui-select" class="ui-select">
                                    <div class="select-valueBar">
                                        <input type="hidden" value="北京" name="city">
                                        <div class="select-value"><span class="select-text">北京</span></div>
                                        <span class="select-down"><i class="ui-icon">下</i></span>
                                    </div>
                                    <ul class="select-list">
                                        <li data-value="北京" class="select-item">北京</li>
                                        <li data-value="上海" class="select-item">上海</li>
                                        <li data-value="深圳" class="select-item">深圳</li>
                                        <li data-value="天津" class="select-item">天津</li>
                                        <li data-value="重庆" class="select-item">重庆</li>
                                        <li data-value="大连" class="select-item">大连</li>
                                        <li data-value="青岛" class="select-item">青岛</li>
                                        <li data-value="宁波" class="select-item">宁波</li>
                                        <li data-value="厦门" class="select-item">厦门</li>
                                        <li data-value="河北" class="select-item">河北</li>
                                        <li data-value="山西" class="select-item">山西</li>
                                        <li data-value="内蒙古" class="select-item">内蒙古</li>
                                        <li data-value="辽宁" class="select-item">辽宁</li>
                                        <li data-value="吉林" class="select-item">吉林</li>
                                        <li data-value="黑龙江" class="select-item">黑龙江</li>
                                        <li data-value="江苏" class="select-item">江苏</li>
                                        <li data-value="浙江" class="select-item">浙江</li>
                                        <li data-value="安徽" class="select-item">安徽</li>
                                        <li data-value="福建" class="select-item">福建</li>
                                        <li data-value="江西" class="select-item">江西</li>
                                        <li data-value="山东" class="select-item">山东</li>
                                        <li data-value="河南" class="select-item">河南</li>
                                        <li data-value="湖北" class="select-item">湖北</li>
                                        <li data-value="湖南" class="select-item">湖南</li>
                                        <li data-value="广东" class="select-item">广东</li>
                                        <li data-value="广西" class="select-item">广西</li>
                                        <li data-value="海南" class="select-item">海南</li>
                                        <li data-value="四川" class="select-item">四川</li>
                                        <li data-value="贵州" class="select-item">贵州</li>
                                        <li data-value="云南" class="select-item">云南</li>
                                        <li data-value="山西" class="select-item">山西</li>
                                        <li data-value="甘肃" class="select-item">甘肃</li>
                                        <li data-value="青海" class="select-item">青海</li>
                                        <li data-value="宁夏" class="select-item">宁夏</li>
                                        <li data-value="新疆" class="select-item">新疆</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-item">
                            <label class="form-label">购车价格</label>
                            <div class="form-item-content">
                                <div data-option-input="true" data-ui="ui-select" class="ui-select">
                                    <div class="select-valueBar">
                                        <input type="hidden" value="15" name="car_price">
                                        <div class="select-value"><input data-required="true" maxlength="5" value="15" data-format="number" class="select-text"><span class="select-tail">万元</span></div>
                                        <span class="select-down"><i class="ui-icon">下</i></span>
                                    </div>
                                    <ul class="select-list">
                                        <li data-value="10" class="select-item">10万元</li>
                                        <li data-value="15" class="select-item select-active">15万元</li>
                                        <li data-value="20" class="select-item">20万元</li>
                                        <li data-value="25" class="select-item">25万元</li>
                                        <li data-type="input" class="select-item">其他</li>
                                    </ul>
                                </div>
                                <div class="alert-info">
                                    <span class="doc-color-red">请输入正确车价</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-item">
                            <label class="form-label">座位数</label>
                            <div class="form-item-content">
                                <label><input type="radio" checked="checked" value="1" name="zuowei">6座以下</label>
                                <label><input type="radio" value="2" name="zuowei">6座及以上</label>
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="form-item-content">
                                <button class="calc-btn" id="gouche-btn">计算</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <h1 class="title">车贷顾问
                    <a href="/chedai/car-p1" class="more">更多&gt;&gt;</a>
                </h1>
                <ul class="banker-list">
                    <li>
                        <a href="/chedai/carp-97s97a5i3" target="_blank">
                            <img src="http://static.rong360.com/pimg/d0/d0ed758bf1e3058231f13bae5ea9f86a2e96af94.jpeg
                                 " class="banker-logo">
                            <div class="item-content">
                                <h3 class="text-overflow">东风日产汇京世纪专营店</h3>
                                <p>
                                    <var>支持银行：</var>
                                    <span>
                                        <img src="http://static.rong360.com/pimg/b8/b818a8f758b9cc6385d84a962df93dfd848c3c4c.jpeg">
                                    </span>
                                </p>
                                <p class="text-overflow">
                                    <var>特色：</var>
                                    <span>免息</span>
                                </p>		
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/chedai/carp-14sf965xq" target="_blank">
                            <img src="http://static.rong360.com/pimg/23/23b73f723c9961d7a6b474ecd4330265e84c15a5.jpeg
                                 " class="banker-logo">
                            <div class="item-content">
                                <h3 class="text-overflow">北京诚信达惠通奇瑞4S店</h3>
                                <p>
                                    <var>支持银行：</var>
                                    <span>
                                        <img src="http://static.rong360.com/pimg/d7/d7c4b41e9a687381b52f03e73f2d84f0b6aa4d1b.jpeg">
                                        <img src="http://static.rong360.com/pimg/39/39802b12a4e1ed9ee91c625f57b00fcf965dfc53.jpeg">
                                    </span>
                                </p>
                                <p class="text-overflow">
                                    <var>特色：</var>
                                    <span>贴息</span>
                                </p>		
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/chedai/carp-c7s6d85gj" target="_blank">
                            <img src="http://static.rong360.com/pimg/e9/e93200970a3ffc20039f8372e282c4bcef56e9f6.jpeg
                                 " class="banker-logo">
                            <div class="item-content">
                                <h3 class="text-overflow">北京一汽轿车销售服务有限公司</h3>
                                <p>
                                    <var>支持银行：</var>
                                    <span>
                                        <img src="http://static.rong360.com/pimg/d7/d7c4b41e9a687381b52f03e73f2d84f0b6aa4d1b.jpeg">
                                    </span>
                                </p>
                                <p class="text-overflow">
                                    <var>特色：</var>
                                    <span>免息</span>
                                </p>		
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/chedai/carp-1eye5703g" target="_blank">
                            <img src="http://static.rong360.com/pimg/fb/fba4a0a705b6e2f5a1b89555b6b5c7487a2f4407.jpeg
                                 " class="banker-logo">
                            <div class="item-content">
                                <h3 class="text-overflow">北京运通兴宝汽车销售服务有限公司</h3>
                                <p>
                                    <var>支持银行：</var>
                                    <span>
                                        <img src="http://static.rong360.com/pimg/c2/c20dc21746db41b956c8d2fe514a0fe9051d1261.jpeg">
                                    </span>
                                </p>
                                <p class="text-overflow">
                                    <var>特色：</var>
                                    <span>免息</span>
                                </p>		
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/chedai/carp-84yd3de37" target="_blank">
                            <img src="http://static.rong360.com/pimg/86/8601584e771f4a81fa57de4345892d1cb9238911.jpeg
                                 " class="banker-logo">
                            <div class="item-content">
                                <h3 class="text-overflow">上汽通用汽车金融</h3>
                                <p>
                                    <var>支持银行：</var>
                                    <span>
                                        <img src="http://static.rong360.com/pimg/33/33ddbb3304840e884b21889b16b607b891ccdddd.jpeg">
                                    </span>
                                </p>
                                <p class="text-overflow">
                                    <var>特色：</var>
                                    <span>最低0利率</span>
                                </p>		
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="section">
                <h1 class="title">专家问答
                    <a target="_blank" href="http://www.rong360.com/ask/tag/%E4%B9%B0%E8%BD%A6%E8%B4%B7%E6%AC%BE" class="more">更多&gt;&gt;</a>
                </h1>
                <ul class="article-list">
                    <li class="text-overflow"><a target="_blank" href="http://www.rong360.com/ask/view/92ugjev5v">我孩子因为患有红斑狼疮肾病，能不能贷款5万，需要5年还清。我是北京出租车司机，若能帮助，万分感激！</a></li>
                    <li class="text-overflow"><a target="_blank" href="http://www.rong360.com/ask/view/ebu63hwoe">宜信车贷，签约后钱放在哪里？</a></li>
                    <li class="text-overflow"><a target="_blank" href="http://www.rong360.com/ask/view/11ugx4606">想贷款22万买车</a></li>
                    <li class="text-overflow"><a target="_blank" href="http://www.rong360.com/ask/view/f5u6g3v3k">我有房有车，要贷款100万，谁知道怎么贷款</a></li>
                    <li class="text-overflow"><a target="_blank" href="http://www.rong360.com/ask/view/e8u63ji3e">公司经营三年了，有房有车，半年流水入账1500W左右，已经做了抵押贷款还可以做信用贷么，可贷金额多少</a></li>
                    <li class="text-overflow"><a target="_blank" href="http://www.rong360.com/ask/view/5fu63trgk">贷款40万，北京无房有车，贷款期限3或4年，每月等额还款，每月收入1.5万，不知道是否可以贷款。</a></li>
                </ul>
                <div class="ask-widget">
                    <input type="text" placeholder="请输入您的问题" id="search_ask_title">
                    <a href="http://www.rong360.com/ask/search?q=" target="_blank" class="btn btn-search" id="search_ask_btn">搜索答案</a>
                    <a href="http://www.rong360.com/ask/submit" class="btn btn-ask">我要提问</a>
                </div>
            </div>
        </div>
    </div>
</block>